* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Helvetica", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Pushes first child to middle, second child to bottom */
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  position: relative;
  left: 2%; /* Adjust if necessary */
  overflow: hidden; /* Hide overflowing text */
  padding-right: 30%;
}

.intro-text,
.dynamic-text {
  display: inline-flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.intro-text {
  font-weight: 700;
  color: #333;
  text-shadow: -0.025em -0.025em 0 #ffffff, 0.025em -0.025em 0 #ffffff,
    -0.025em 0.025em 0 #ffffff, 0.025em 0.025em 0 #ffffff;
}

.dynamic-text {
  margin-left: 1vw;
  font-weight: bold;
  color: #ffffff;
  text-shadow: -0.025em -0.025em 0 #000, 0.025em -0.025em 0 #000,
    -0.025em 0.025em 0 #000, 0.025em 0.025em 0 #000; /* Shadow size scales with the font size */
}

.word {
  font-weight: 700;
  position: absolute;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.word:first-child {
  opacity: 1;
}

.top-spacer {
  flex-grow: 0.4;
}

.bottom-spacer {
  flex-grow: 0.4;
}

button {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #ffffff40;
  padding: 0.5vh 2.5vh;
  cursor: pointer;
  font-size: 3vh;
  align-self: center;
  width: auto;
  border-radius: 20px;
  box-shadow: 0 3px 6px #00000050;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
  overflow: hidden;
  transform: scale(1); /* Start at normal scale */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out; /* Apply transitions to all interactions */
}

button:hover {
  transform: scale(1.1); /* Slight increase in size */
  cursor: pointer; /* Ensure the cursor indicates it's clickable */
}

button.disabled {
  pointer-events: none; /* Disable clicks on the button */
  opacity: 0.5; /* Visual feedback that the button is disabled */
  cursor: default; /* Default cursor to indicate it's not clickable */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 15, 15);
  color: #f2f2f2;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none; /* Ensure this is only when hidden */
  overflow-y: scroll; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
  transition: opacity 0.5s ease;
}

.overlay.visible {
  pointer-events: auto; /* Allow interactions when overlay is visible */
  opacity: 1;
}

.overlay-content {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 0;
}
.overlay-header img {
  width: 20em;
  height: 20em;
  margin-bottom: 20px;
}

.overlay-header {
  display: flex;
}

.bio {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.design-section h2 {
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  width: 100%;
  flex-direction: row; /* Horizontal layout by default */
  justify-content: space-around;
  align-items: flex-start; /* Align items at the start to prevent stretching */
  margin-bottom: 20px;
}

.design-button {
  flex: 1;
  position: relative; /* Necessary for absolute positioning of pseudo-elements */
  border: none;
  color: white;
  text-transform: uppercase;
  overflow: hidden; /* Keeps pseudo-elements contained */
  margin: 1vw 0.25vw; /* Space below each button */
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  z-index: 1;
  font-size: 1.7em;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.design-button:before {
  content: "";
  position: absolute;
  display: block;
  padding-top: 100%; /* Forces a 1:1 aspect ratio */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    315deg,
    rgba(110, 142, 251, 0.5),
    rgba(167, 119, 227, 0.5)
  );
  border-radius: 10px; /* Keep the button's rounded corners */
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out; /* Smooth transition for the gradient */
}

.design-button:after {
  content: attr(data-text); /* Dynamic text based on a data attribute */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
  color: white !important;
  font-size: clamp(
    0.5em,
    2vw,
    0.8em
  ); /* Resizes between 1em and 1.5em based on viewport width */
  opacity: 0.7; /* Lower visibility initially */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for text visibility */
}

.design-button:hover:before {
  opacity: 0.2; /* Less opaque gradient on hover */
}

.design-button:hover:after {
  opacity: 1; /* Full visibility for the text on hover */
}

.overlay-text {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: justify;
}
.overlay-text h1 {
  font-size: 5em;
  margin-bottom: 20px;
  text-align: center;
}

.close-overlay-button {
  position: fixed; /* Change from fixed to absolute */
  top: 20px;
  left: 35vw;
  margin-left: 20px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000000; /* Ensure it stays above other elements */
}

@media (min-aspect-ratio: 1/1) {
  .buttons-container {
    flex-direction: row; /* Horizontal layout for larger screens */
  }
  .overlay-text {
    margin-left: 20px;
  }
}

/* Vertical layout for smaller screens */
@media (max-aspect-ratio: 1/1) {
  .buttons-container {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
  }
  .design-button:after {
    font-size: 6vw;
    max-width: 100%;
  }

  .close-overlay-button {
    top: 20px;
    left: 20px;
  }

  .design-button {
    margin-bottom: 20px;
  }

  .overlay-header {
    display: flex;
    justify-content: center; /* Aligns items horizontally in the center */
    align-items: center; /* Aligns items vertically in the center */
    height: 100%; /* Takes up the full height of its parent */
  }

  .overlay-header img {
    width: 20em;
    height: 20em;
  }
  .overlay-header {
    flex-direction: column;
  }

  .overlay-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
    white-space: nowrap; /* Prevent text from wrapping to multiple lines */
    overflow: hidden; /* Hide any overflowing text */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hidden {
  display: none;
  transition: none;
}

.visible {
  display: flex;
  opacity: 1;
  pointer-events: auto; /* Make it interactive when visible */
}

#bg-video {
  position: fixed; /* Fixed position to cover the entire screen */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  width: 100vw; /* Cover entire viewport width */
  height: 100vh; /* Cover entire viewport height */
  object-fit: cover; /* Ensure video covers the area without distortion */
  transform: translate(-50%, -50%); /* Adjust the video to be truly centered */
  z-index: -100; /* Stay behind all other content */
}

@media (min-aspect-ratio: 16/9) {
  #bg-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #bg-video {
    width: auto;
    height: 100%;
  }
}

/* Suboverlays */

.sub-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  z-index: 1000;
  overflow-y: auto;
  transition: opacity 0.5s ease;
}

.sub-overlay-content {
  margin: auto;
  padding: 40px;
  background: #222;
  width: 100%;
  max-width: 1200px;
  border-radius: 15px;
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: justify;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-overlay-content h2 {
  font-size: 4em;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  color: #ffcdfc;
}

.sub-overlay-content p {
  font-size: 1.3em;
  margin-bottom: 30px;
  width: 100%;
  line-height: 1.6;
}

.project-container {
  width: 100%;
  background: #333;
  border-radius: 15px;
  padding: 20px;
  margin-top: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-container:hover {
  transform: scale(1.02);
}

.project-header {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project-header h3 {
  font-size: 2.5em;
  color: #a773ec;
  margin: 0;
}

.project-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-text {
  color: #ddd;
  line-height: 1.6;
}

.project-text h4 {
  font-size: 1.5em;
  color: #bf79e2;
  margin-top: 20px;
}

.project-text p {
  font-size: 1.2em;
}

.project-video {
  width: 100%;
  position: relative;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (min-aspect-ratio: 1/1) {
  .project-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .project-text,
  .project-video {
    width: 48%;
  }
}

/* Question Buttons and Answers */

.questions-container {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-button {
  background: #00000000;
  color: white;
  border: none;
  padding: 15px 20px;
  margin: 10px 0;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  width: 90%;
  text-align: left;
  transition: background 0.3s ease;
  display: inline-flexbox;
  justify-content: space-between;
  align-items: center;
  height: auto;
  box-sizing: border-box;
}

.question-button:hover {
  background: #576bd3;
  transform: none;
}

.question-button:before {
  content: "+";
  font-size: 1.5em;
  margin-right: 15px;
}

.question-button[data-state="open"]:before {
  content: "-";
  margin-right: 21px;
}

.answer {
  background: #333;
  color: white;
  padding: 0 20px;
  margin: 5px 0 10px 0;
  width: 80%;
  border-radius: 5px;
  height: 0;

  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: justify;
  font-size: 1.2em;

  overflow: hidden;
}

.answer.visible {
  padding: 15px 20px;
  height: auto;
}

/* Footer styles */
.overlay-footer {
  background-color: #00000000;
  color: #fff;
  text-align: center;
  padding: 0px 0 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
}

.footer-content p {
  margin: 5px 0;
}

.social-media-icons {
  margin-top: 10px;
}

.social-media-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-media-icons img {
  width: 64px;
  height: 64px;
}
