* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button {
    font-family: 'Helvetica', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes first child to middle, second child to bottom */
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    position: relative;
    left: -7%; /* Adjust if necessary */
}

.intro-text, .dynamic-text {
    display: inline-flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.intro-text {
    font-weight: 700;
    color: #333;
}

.dynamic-text {
    margin-left: 1vw;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 
        -0.025em -0.025em 0 #000,  
        0.025em -0.025em 0 #000,
        -0.025em 0.025em 0 #000,
        0.025em 0.025em 0 #000; /* Shadow size scales with the font size */
}

.word {
    font-weight: 700;
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.word:first-child {
    opacity: 1;
}

.top-spacer {
    flex-grow: .1;
}

.bottom-spacer {
    flex-grow: 0;
}


button {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ffffff40;
    padding: 0.5vh 2.5vh;
    cursor: pointer;
    font-size: 3vh;
    align-self: center;
    width: auto;
    border-radius: 20px;
    box-shadow: 0 3px 6px #00000050;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    overflow: hidden;
    transform: scale(1); /* Start at normal scale */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Apply transitions to all interactions */
}

button:hover {
    box-shadow: 0 5px 10px #00000080;
    transform: scale(1.05); /* Slight increase in size */
}

button:active {
    transform: scale(0.95); /* Button presses down when clicked */
}


.hidden {
    display: none;
}

.visible {
    display: block;
}
